* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #E0E8FF;
    font-family: 'Red Hat Display', sans-serif;
  }

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    background-color:#FFFFFF;
    border-radius: 1.5rem;
    height: 55rem;
    margin: 6rem auto 3rem;
    transition: 300ms ease-in-out;
    width: 37rem;
    position: relative;
    transition: all .3s;
    box-shadow: 0 0.8rem 2.5rem rgba(#000, 0.15);

    &__pic {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background-size: cover;
        background-position: center;
        height: 18rem;
        background-image: url("../images/illustration-hero.svg");
    }

    &__description {
        text-align: center;

        &--title {
            margin: 3.5rem auto 1.5rem;
            font-size: 2.2rem;
            font-weight: 900;
            color: #1F2F56;
        }

        &--text {
            font-size: 1.4rem;
            color: #7280A7;
            padding: 0 4rem;
            line-height: 1.6;
        }
    }

    &__plan {
        margin: 2rem auto 2.5rem;
        background-color: #F8F9FE;
        position: relative;
        border-radius: 1rem;
        width: 80%;
        height: 14%;
        
        &--icon{
            position: absolute;
            margin: 1.5rem;
            display: inline-block;
        }

        &--description {
            width: 60%;
        
            &-title {
                color: #1F2F56;
                position: absolute;
                top:30%;
                left: 28%;
            }
            &-text {
                position: absolute;
                color: #7280A7;
                top:55%;
                left: 28%;
            }
            &-change-btn {
                position: absolute;
                color: #382AE1;
                font-weight: 900;
                left: 80%;
                top:50%;

                &:hover {
                    text-decoration: none;
                    color: #766CF1;
                }
            }
        }
    }
    &__buttons {
        position: relative;
        font-size: 1.2rem;
        margin: 2rem auto;
        width: 100%;
        text-align: center;
    }

    &:hover {
        transform: scale(1.05);
    }
}

.btn {
    border-radius: .7rem;
    font-weight: 900;
    color:  #7280A7;
    width: 80%;
    text-decoration: none;
    padding: 1rem 2rem;
    margin: auto;

    display: inline-block;

    &--colored {
        background-color: #382AE1;
        color:  #FFFFFF;
        box-shadow: 0 .5rem 1rem rgba(#000000,.2);

        &:hover {
            background-color: #766CF1;
        }
    }
    &--plain {
        
        &:hover {
            color: #1F2F56;
          }
        }
}

.attribution {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 3rem;

    &__anchor {
        font-weight: bolder;
        &,
        &:visited,
        &:link {
            text-decoration: none;
            color: #1F2F56;
        }
        
        &:hover,
        &:active {
            color: #382AE1;
       }
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-image: url("../images/pattern-background-desktop.svg");
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url("../images/pattern-background-mobile.svg");
    }
    .card {
        width: 30rem;
    }    
}

@media only screen and (max-width: 376px) {
    .card{
        width: 28rem;
        height: 51rem;

        &__description {

            &--title {
                font-size: 1.5rem;
            }
    
            &--text {
                font-size: 1.1rem;
            }
        }
    
        &__plan {
    
            &--description {
                width: 50%;
            
                &-title {
                    font-size: 1.2rem;
                    top:32%;
                    left: 30%;
                }
                &-text {
                    font-size: 0.9rem;
                    top:55%;
                    left: 30%;
                }
                &-change-btn {
                    left: 75%;
                    top:45%;
                }
            }
        }  
    }

    .attribution {
        font-size: 1rem;
    }
}  
