* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    background-color:lighten($dark-purple, 40%);
}
.main-div {
    margin: auto 0;
    padding: 0;
}
