//colors
$dark-blue:#090B1A;
$dark-desaturated-blue: #1B1938;
$soft-violet: #AA5CDB;
$white: #FFFFFF;

//mixins
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $dark-blue;
}
.primary-header {
    font-family: 'Inter', sans-serif;
    font-size: 3.5rem;
}



.row {
    margin: 0 auto;

}

.section-stats {
    padding: 15rem 0;

}

.card {
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($dark-blue, .2);
    height: 45rem;
    margin: auto 15rem;
    position: relative;
    overflow: hidden;

    &__content {
        @include absCenter;
        width: 100%;
        display: table;
    }

    &__img {
        display: inline-block;
        width: 100%;
    }

    &__left {
        padding: 0 4rem 0 4.5rem;
        width: 50%;
        display: table-cell;
    }

    &__right {
        width: 50%;
        display: table-cell;
    }

    &__text {
        font-family: 'Lexend Deca', sans-serif;
    }
    &__numstats {
        font-family: 'Inter', sans-serif;
    }
}
