* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/bg-desktop.svg");
    background-color: #674BB1;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
h1 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    padding-top: 50px;
}
.main {
    display: flex;
    justify-content: center;
}    
.brand-logo {
    margin: 40px 40px 30px;
}
.description {
    flex-basis: 35%;
    padding:20px;
}
.illustration {
    flex-basis: 50%;
    padding:20px;
}
.register-button {
    background-color: #FFFFFF;
    border-radius: 30px;
    color:#674BB1;
    box-shadow: 2px 8px 24px #3d3b3bc5;
    display:inline-flex;
    margin-top: 30px;
    padding: 20px 60px;
    text-decoration: none;
}
.register-button:hover {
    background-color: #E980E7;
    color:#FFFFFF;
}
.text-description {
    line-height: 1.75;
    padding-top: 20px;
}


.attrib-btn:hover{
    text-decoration: none;
    color:#FFFFFF
}
.attrib-btn:visited{
    color: #FFFFFF;
}
.attrib-btn:active{
    color:#4a3683
}

