.cancel {
    &-button {
        color:$main-text-color;
        font-size: 1.28rem;
        left: 3.6rem;
        padding: 0.7rem 10rem;
        position: relative;
        text-decoration: none;
        top: 3.5rem;
    }
    &-button  :hover{
        color:$hover-gray;
    }
}

.proceed-button {
    background-color: $dark-purple;
    border-radius: 0.6rem;
    box-shadow: 0.8rem 0.8rem 1.2rem darken($color-white, 10%);
    color:$color-white;
    font-size: 1.28rem;
    left: 3.5rem;
    padding: 0.7rem 8.1rem;
    position: relative;
    text-decoration: none;
    top: 2rem;

    &:hover{
        background-color:$purple;
    }
   
}
